.form {
	width: 35%;
	display: flex;
	flex-direction: column;
}
.label {
	font-weight: 700;
}
.button {
	background-color: black;
	border-color: grey;
}
.google {
	background-color: blue;
	margin-left: 15px;
}
.buttons {
	display: flex;
	justify-content: right;
}
